<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.mapper.MemberMapper">

	<!-- 등록 처리 -->
	<insert id="create">
		INSERT INTO member(
			user_no,
			user_id,
			user_pw,
			user_name)
		VALUES(
			member_seq.NEXTVAL,
			#{userId},
			#{userPw},
			#{userName}
		)
	</insert>
	
	<select id="list" resultType="com.kh.domain.Member">
	SELECT 
	    USER_NO,
	    USER_ID,
	    RPAD(SUBSTR(USER_PW, 1, 5), 10, '*') AS USER_PW,
	    USER_NAME,
	    JOB,
	    COIN,
	    REG_DATE,
	    UPD_DATE,
	    ENABLED 
	FROM MEMBER
	</select>
	<select id="read" resultType="com.kh.domain.Member">
	SELECT 
	    USER_NO,
	    USER_ID,
	    RPAD(SUBSTR(USER_PW, 1, 5), 10, '*') AS USER_PW,
	    USER_NAME,
	    JOB,
	    COIN,
	    REG_DATE,
	    UPD_DATE,
	    ENABLED 
	FROM MEMBER
	WHERE USER_NO = #{userNo}
	</select>

</mapper>